<!DOCTYPE html>
<html>
	<head>
<meta http-equiv="Content-Type" content="text/html; charset='utf-8' " /> 
		<title>My amazing Site with Sansa</title>
		{% block stylesheet %}
		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}" media="screen" />
		 {% endblock %}   
		 
		 
		 

	</head>
	<body>
		
		
	<div class="row">
		<div class="large-12 columns">
			<H1>{% block title_body %}This is my amazing website with Sansa{% endblock %}</H1>
		</div>
		<div class="large-12 columns">
			{% block body %}
			{% endblock %}
		</div>
			{% block javascript %}
		 	{% endblock %}   
		
	</div> 
	</body>
</html>
